{% load static i18n %}

<section class="about-hotel">
    <div id="about-us" class="about-us  container">

        <div class="about-us_topbar">
            <div class="about-us_title">
                {% trans "About our hotel" %}
            </div>
            <div class="about-us_stripe">

            </div>
            <div class="about-us_text">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis
                enim velit mollit.
            </div>
        </div>


        <div class="about-us_container">
            <div class="about-us_img left">
                <img src="{% static "img/Mask_Group.png" %}" alt="" class="triangle top_left">
                <img src="{% static "img/Mask_Group.png" %}" alt="" class="triangle bottom_right">
                <img src="{% static "img/RC_Moscow_2.webp" %}" alt="" class="about-us_main-img ">
            </div>
            <div class="about-us_info right">
                <div class="backdrop-shadow"></div>
                <div class="about-us_info-suptitle right">
                   {% trans "We choose comfort and luxury" %}
                </div>
                <div class="about-us_info-title">
                    Our Priority
                </div>
                <div class="about-us_info-text">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                    duis enim velit mollit.Amet minim mollit non deserunt ullamco est sit
                </div>
                <div href="#slider" class="scroll view-rooms">
                   {% trans "View hotel rooms" %}
                    <img class="view-rooms_ic" src="{% static "img/ic_link.svg" %}" alt="">
                </div>
            </div>
        </div>


        <div class="about-us_container">
            <div class="about-us_img right">
                <img src="{% static "img/Mask_Group.png" %}" alt="" class="triangle top_right">
                <img src="{% static "img/Mask_Group.png" %}" alt="" class="triangle bottom_left">
                <img src="{% static "img/RC_Moscow_1.webp" %}" alt="" class="about-us_main-img left">
            </div>
            <div class="about-us_info left">
                <div class="backdrop-shadow"></div>
                <div class="about-us_info-suptitle left">
                    We choose comfort and luxury
                </div>
                <div class="about-us_info-title">
                    Our Priority
                </div>
                <div class="about-us_info-text">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                    duis enim velit mollit.Amet minim mollit non deserunt ullamco est sit
                </div>
            </div>
        </div>

        <div class="about-us_container">
            <div class="about-us_img left">
                <img src="{% static "img/Mask_Group.png" %}" alt="" class="triangle top_left">
                <img src="{% static "img/Mask_Group.png" %}" alt="" class="triangle bottom_right">
                <img src="{% static "img/RC_Moscow_3.webp" %}" alt="" class="about-us_main-img ">
            </div>
            <div class="about-us_info right">
                <div class="backdrop-shadow"></div>
                <div class="about-us_info-suptitle right">
                    We choose comfort and luxury
                </div>
                <div class="about-us_info-title">
                    Our Priority
                </div>
                <div class="about-us_info-text">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                    duis enim velit mollit.Amet minim mollit non deserunt ullamco est sit
                </div>

            </div>
        </div>

        <div class="about-us_container">
            <div class="about-us_img right">
                <img src="{% static "img/Mask_Group.png" %}" alt="" class="triangle top_right">
                <img src="{% static "img/Mask_Group.png" %}" alt="" class="triangle bottom_left">
                <img src="{% static "img/RC_Moscow_4.webp" %}" alt="" class="about-us_main-img left">
            </div>
            <div class="about-us_info left">
                <div class="backdrop-shadow"></div>
                <div class="about-us_info-suptitle left">
                    We choose comfort and luxury
                </div>
                <div class="about-us_info-title">
                    Our Priority
                </div>
                <div class="about-us_info-text">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                    duis enim velit mollit.Amet minim mollit non deserunt ullamco est sit
                </div>
            </div>
        </div>

    </div>

</section>


