{% load static %}

<footer>
    <div class="container footer ">
        <div class="row d-flex">
            <div class="col-md-6 order">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3106744.8350842674!2d62.56858345917536
                    !3d40.49891981172063!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f4d1917d6870b61%3A0x6015d350b079
                    c416!2sJahon%20Palace!5e0!3m2!1sru!2s!4v1645704096282!5m2!1sru!2s"
                        width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy">
                </iframe>
            </div>
            <div class="col-md-6">
                <div class="footer_title">
                    <div class="title-srtipe"></div>
                    Shohjahon Palace
                    <div class="title-srtipe"></div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer_nav">
                            <a class="scroll-top footer_link " href="#services"> Services</a>
                            <a class="scroll-top footer_link" href="#slider"> Our Rooms</a>
                            <a class="scroll-top footer_link " href="#about-us"> About us</a>
                            <a class="scroll-top footer_link " href="#about-us"> Restaurant</a>
                        </div>
                        <div class="footer_nav-stripe"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="contact">

                            <div class="link_title">Reception</div>
                            <a class="tel-link" href="tel: + 777 (77) 777 77 77">
                                <img src="{% static "img/retro-tel.svg" %}" alt="" class="tel_ic">
                                <div class="tel-num">+ 777 (77) 777 77 77</div>

                            </a>
                            <!-- <a href="#"><img src="img/retro-tel.svg" alt=""> (480) 555-0103</a> -->
                            <div class="link_title">Follow us on our social networks</div>
                            <div class="social">
                                <a href="#">
                                    <img class="social-icon ic_facebook" src="{% static "img/ic_facebook.svg" %}" alt="">
                                </a>
                                <a href="#">
                                    <img class="social-icon" src="{% static "img/ic_telegram.svg" %}" alt="">
                                </a>
                                <a href="#">
                                    <img class="social-icon" src="{% static "img/ic_instagram.svg" %}" alt="">
                                </a>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>
