{% load static %}

<section class="header">

    <div class="mobile-header">
        <img class="burger-btn" src="{% static "img/burger.svg" %}" alt="">
        <a class="hotel-name" href="#"> Shohjahon Palace</a>
        <a href="tel: + 777 (77) 777 77 77"><img src="{% static "img/retro-tel.svg" %}" alt=""></a>
    </div>
    <header style="z-index: 16">
        <img class="close_header mobile" src="{% static "img/cross.svg" %}" alt="">
        <div class="circle-b">
            <div class="circle"></div>
        </div>
        <div class="logo-block"><a class="logo" href="#"> <img class="logo-link" src="{% static "img/Logo.png" %}" alt=""></a></div>
        <div class="container header-container h">
            <div class="main  navbar">
                <a class=" scroll nav-link" href="#services">Services</a>
                <div class="stripe-guests mobile"></div>
                <a class="scroll  nav-link" href="#slider">Our Rooms</a>
                <div class="stripe-guests mobile"></div>
                <a class="scroll-top nav-link" href="#about-us">About us</a>
                <div class="stripe-guests mobile"></div>
                <a class=" mobile nav-link" href="#about-us">Restaurant</a>
                <div class="stripe-guests mobile"></div>
            </div>
            <div class="additional-content ">
                <div class="lang ">
                    <div class="mobile-lang">


                        {% if "/ru/" in request.path %}

                            <div class=" lang_item  lang_item-1 ">
                                <img class="lang_ic" src="{% static "img/ru.svg" %}" alt="">
                                <div class="ic_text">
                                    Русский
                                </div>
                            </div>

                            <div class=" lang_item lang_item-2">
                                <img class="lang_ic" src="{% static "img/UK.svg" %}" alt="">
                                <a href="/en/" class="ic_text">
                                    English
                                </a>
                            </div>

                            {% elif "/en/" in request.path %}

                            <div class=" lang_item  lang_item-1 ">
                                <img class="lang_ic" src="{% static "img/UK.svg" %}" alt="">
                                <div class="ic_text">
                                    English
                                </div>
                            </div>

                            <div class=" lang_item lang_item-2">
                                <img class="lang_ic" src="{% static "img/ru.svg" %}" alt="">
                                <a href="/ru/" class="ic_text">
                                    Русский
                                </a>
                            </div>

                        {% endif %}






                    </div>
                    <img class="ic_arrow" src="{% static "img/arrow_b.svg" %}" alt="">
                </div>
                <div class="tel nav-link">
                    <div class="tel-text mobile">
                        Reception
                    </div>
                    <a class="tel-link" href="tel: + 777 (77) 777 77 77">
                        <img src="{% static "img/retro-tel.svg" %}" alt="" class="tel_ic">
                        <div class="tel-num">+ 777 (77) 777 77 77</div>
                    </a>
                </div>
                <div class="mobile">
                    <div class="social-text">
                        Follow us on our social networks
                    </div>
                    <div class="block-img">
                        <a href="#">
                            <img class="social-icon ic_facebook" src="{% static "img/ic_facebook.svg" %}" alt="">
                        </a>
                        <a href="#">
                            <img class="social-icon" src="{% static "img/ic_telegram.svg" %}" alt="">
                        </a>
                        <a href="#">
                            <img class="social-icon" src="{% static "img/ic_instagram.svg" %}" alt="">
                        </a>
                    </div>
                    <div class="stripe-guests mobile"></div>
                </div>
            </div>
        </div>
    </header>
</section>



