{% load services_tags i18n %}
{% get_services as services %}



<section class="our-service">
    <h2 class="title_1">{% trans "Our services" %}</h2>
    <div class="stripe"></div>
    <div id="services" class="services container">

        {% for service in services %}

        <div class="service">
            <div class="circle">
                <img class="service-img" src="{{ service.image.url }}" alt="">
            </div>
            <div class="service-text">
                <div class="service-name">{{ service.title }}</div>
                <div class="about-service">
                    {{ service.description }}
                </div>

            </div>
        </div>

        {% endfor %}

    </div>
</section>


